    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Checklists</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link th:href="@{/css/navbar.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    </head>
    <body>
    <button id="botaoSidebar" class="btn btn-primary d-block botaoSidebar" style="width: 8%;height: 8%;margin-bottom: 10px;margin-top: 10px;margin-left: 10px" onclick="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div class="sidebar">
        <div class="row-imagem" >
            <img th:src="@{/images/saga.png}" alt="Saga Image" />
        </div>
        <div class="list-group" style="margin-top: 8%;">
            <a href="/perguntas" style="border: 0px;" class="list-group-item">Perguntas</a>
            <div class="list-group-item list-group-item-action dropdown-toggle" id="dropdownEmpresas">
                Empresas
                <div class="dropdown-menu" aria-labelledby="dropdownEmpresas">
                    <a class="dropdown-item" href="/empresas">Adicionar</a>
                    <a class="dropdown-item" href="/empresas/listar">Listar</a>
                </div>
            </div>
            <div class="list-group-item list-group-item-action dropdown-toggle sidebar-ativo" id="dropdownChecklists">
                Checklists
                <div class="dropdown-menu" aria-labelledby="dropdownChecklists">
                    <a class="dropdown-item" href="/checklists">Adicionar</a>
                    <a class="dropdown-item" href="/checklists/listar">Listar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-12" style="margin-left: 3%">
            <div class="row text-center" style="margin-top: 7%; margin-bottom: 2%">
                <h2>Checklists</h2>
            </div>
            <form id="formChecklist" action="checklists/adicionar" method="post">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <h5 for="titulo" class="form-label">Título</h5>
                            <input type="text" class="form-control shadow p-2 mb-3 bg-white rounded mt-2" id="titulo" name="titulo" placeholder="Digite um título">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <h5 for="descricao" class="form-label">Descrição</h5>
                            <input type="text" class="form-control shadow p-2 mb-3 bg-white rounded" id="descricao" name="descricao" placeholder="Digite a descrição"  style="font-size: 16px; width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <h5 for="eixo">Eixo</h5>
                            <select class="form-control shadow p-2 mb-3 bg-white rounded" id="eixo" name="eixo" >
                                <option value="">Selecione um eixo</option>
                                <option th:each="eixo : ${eixos}" th:value="${eixo.id}" name="" th:text="${eixo.titulo}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <h5 for="setor">Setor</h5>
                            <select class="form-control shadow p-2 mb-3 bg-white rounded" id="setor" name="setor">
                                <option value="">Selecione um setor</option>
                                <option th:each="setor : ${setores}" th:value="${setor.id}" th:text="${setor.titulo}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <h5 for="porte">Porte</h5>
                            <select class="form-control shadow p-2 mb-2 bg-white rounded" id="porte" name="porte">
                                <option value="">Selecione um porte</option>
                                <option th:each="porte : ${portes}" th:value="${porte.id}" th:text="${porte.titulo}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary btn-lg btn-filtrar" style="width: 100%;">Filtrar Perguntas</button>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary btn-lg btn-salvar disabled" style="width: 100%;">Salvar</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                <div class="col">
                    <div class="card">
                        <div class="card-body" style="overflow-x: auto;">
                            <table class="table" style="max-height: 200px; overflow-y: auto;">
                                <thead>
                                <tr>
                                    <th class="text-center" style="width: 2%;font-size: 13px">
                                        <input type="checkbox" value="all" name="all"/>
                                    </th>
                                    <th>Titulo</th>
                                    <th>Descrição</th>
                                    <th>Eixo</th>
                                    <th>Setor</th>
                                    <th>Porte</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pergunta : ${perguntas}">
                                    <td class="text-center">
                                        <input type="checkbox" name="perguntas" th:value="${pergunta.id}"/>
                                    </td>
                                    <td class="align-middle" th:text="${pergunta.titulo}"></td>
                                    <td class="align-middle" th:text="${pergunta.descricao}"></td>
                                    <td class="align-middle" th:text="${pergunta.eixo.titulo}"></td>
                                    <td class="align-middle" th:text="${pergunta.setor.titulo}"></td>
                                    <td class="align-middle" th:text="${pergunta.porte.titulo}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/script.js}"></script>
    <script>

        $('input[name="all"]').on('change', function () {
            var check = $(this).is(':checked');
            if (check) {
                $('input[name="perguntas"]').prop('checked', true);
                $('.btn-salvar').removeClass('disabled');
            } else {
                $('input[name="perguntas"]').prop('checked', false);
                $('.btn-salvar').addClass('disabled');
            }
        });

        function filtrarPerguntas() {
            var titulo = $('#titulo').val();
            var descricao = $('#descricao').val();
            var eixo = $('#eixo').val();
            var setor = $('#setor').val();
            var porte = $('#porte').val();

            $('#filtroTitulo').val(titulo);
            $('#filtroDescricao').val(descricao);

            $.ajax({
                url: '/checklists/filtrar-perguntas',
                type: 'GET',
                data: {
                    eixo: eixo,
                    setor: setor,
                    porte: porte
                },
                success: function(data) {
                    $('.table tbody').empty();
                    $(data).find('.table tbody tr').appendTo('.table tbody');

                    $('input[name="perguntas"]').on('change', function () {
                        var peloMenosUmMarcado = $('input[name="perguntas"]:checked').length > 0;

                        if (peloMenosUmMarcado) {
                            $('.btn-salvar').removeClass('disabled');
                        } else {
                            $('.btn-salvar').addClass('disabled');
                        }
                    });
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        }

        $('.btn-filtrar').on('click', function() {
            filtrarPerguntas();
        });

           $('.btn-salvar').on('click', function() {
               event.preventDefault();
               var formData = new FormData($('#formChecklist')[0]);
               $.ajax({
                   url: $('#formChecklist').attr('action'),
                   type: $('#formChecklist').attr('method'),
                   data: formData,
                   processData: false,
                   contentType: false,
                   success: function(response) {
                       Swal.fire({
                           icon: 'success',
                           title: 'Salvo com sucesso!',
                           showConfirmButton: false,
                           timer: 2500
                       }).then(function() {
                           window.location.href = '/checklists';
                       });
                   },
                   error: function(xhr, status, error) {
                       console.log(error);
                       Swal.fire({
                           icon: 'error',
                           title: 'Oops...',
                           text: 'Ocorreu um erro ao salvar a pergunta.'
                       });
                   }
               });
           });

    </script>
    </body>
    </html>