<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checklists</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button data-mdb-button-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-collapse-init
                    data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a
                            data-mdb-dropdown-init class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="fa-solid fa-circle-user fa-2xl"></i>
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <div class="row-imagem" >
                <img th:src="@{/images/saga.png}" alt="Saga Image" />
            </div>
            <div class="list-group" style="margin-top: 8%;">
                <div class="list-group-item list-group-item-action" style="color: inherit !important;text-decoration: none !important;" >
                    <a href="/perguntas" style="border: 0px; color: inherit !important;text-decoration: none !important;" class="list-group">Perguntas</a>
                </div>
                <div class="list-group-item list-group-item-action dropdown-toggle" id="dropdownEmpresas">
                    Empresas
                    <div class="dropdown-menu" aria-labelledby="dropdownEmpresas">
                        <a class="dropdown-item" href="/empresas">Adicionar</a>
                        <a class="dropdown-item" href="/empresas/listar">Listar</a>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action dropdown-toggle sidebar-ativo" id="dropdownChecklists">
                    Checklists
                    <div class="dropdown-menu" aria-labelledby="dropdownChecklists">
                        <a class="dropdown-item" href="/checklists">Adicionar</a>
                        <a class="dropdown-item" href="/checklists/listar">Listar</a>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action dropdown-toggle" id="dropdownFormularios">
                    Formulários
                    <div class="dropdown-menu" aria-labelledby="dropdownFormularios">
                        <a class="dropdown-item" href="/formulario">Adicionar</a>
                        <a class="dropdown-item" href="/formulario/listar">Listar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
</header>
<main>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-9 col-sm-12" >
                <div class="row text-center" >
                    <h2>Listagem de Checklists</h2>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col">
                        <div class="card">
                            <div class="card-body" style="overflow-x: auto;">
                                <table class="table" style="max-height: 200px; overflow-y: auto;">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Titulo</th>
                                        <th class="text-center">Descrição</th>
                                        <th class="text-center">Eixo</th>
                                        <th class="text-center">Setor</th>
                                        <th class="text-center">Porte</th>
                                        <th class="text-center">Quantidade de Perguntas</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="checklist : ${checklists}">
                                        <td class="text-center align-middle" th:text="${checklist.titulo}"></td>
                                        <td class="text-center align-middle" th:text="${checklist.descricao}"></td>
                                        <td class="text-center align-middle" th:text="${checklist.eixo.titulo}"></td>
                                        <td class="text-center align-middle" th:text="${checklist.setor.titulo}"></td>
                                        <td class="text-center align-middle" th:text="${checklist.porte.titulo}"></td>
                                        <td class="text-center align-middle" th:text="${checklist.quantidadePerguntas}"></td>
                                        <td class="text-center d-flex">
                                            <a th:onclick="'visualizarChecklist(\'' + ${checklist.id} + '\');'" data-bs-toggle="modal" data-bs-target="#modalVisualizarChecklist" class="btn btn-primary m-1">Visualizar</a>
                                            <a th:onclick="'editarChecklist(\'' + ${checklist.id} + '\');'" data-bs-toggle="modal" data-bs-target="#modalEditarChecklist" class="btn btn-primary m-1">Editar</a>
                                            <a th:onclick="'inativarChecklist(\'' + ${checklist.id} + '\');'" class="btn btn-danger m-1">Inativar</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/script.js}"></script>
<script>
    function visualizarChecklist(checklistId) {
        $.ajax({
            url: '/checklists/' + checklistId + '/perguntas',
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                var tableBody = $('#modalVisualizarChecklist .modal-body table tbody');
                tableBody.empty();
                response.forEach(function(checklistPergunta) {
                    var titulo = checklistPergunta[0];
                    var descricao = checklistPergunta[1];
                    var eixo = checklistPergunta[2];
                    var porte = checklistPergunta[3];
                    var setor = checklistPergunta[4];

                    var newRow = '<tr>' +
                        '<td>' + titulo + '</td>' +
                        '<td>' + descricao + '</td>' +
                        '<td>' + eixo + '</td>' +
                        '<td>' + setor + '</td>' +
                        '<td>' + porte + '</td>' +
                        '</tr>';
                    tableBody.append(newRow);
                });
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }

    function editarChecklist(checklistId){
        $.ajax({
            url: '/checklists/editar/' + checklistId ,
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                $('#id').val(response.id);
                $('#titulo').val(response.titulo);
                $('#descricao').val(response.descricao);
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }

    function salvarEdicao() {
        var checklistId = $('#id').val();
        var novoTitulo = $('#titulo').val();
        var novaDescricao = $('#descricao').val();

        var dadosAtualizados = {
            titulo: novoTitulo,
            descricao: novaDescricao
        };
        $.ajax({
            url: '/checklists/editar/' + checklistId,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(dadosAtualizados),
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Editado com sucesso!',
                    showConfirmButton: false,
                    timer: 2500
                }).then(function() {
                    window.location.href = '/checklists/listar';
                });
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ocorreu um erro ao editar o checklist.'
                });
            }
        });
    }
    function inativarChecklist(checklistId) {
        $.ajax({
            url: '/checklists/inativar/' + checklistId,
            type: 'POST',
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Inativado com sucesso!',
                    showConfirmButton: false,
                    timer: 2500
                }).then(function() {
                    window.location.href = '/checklists/listar';
                });
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ocorreu um erro ao inativar o checklist.'
                });
            }
        });
    }

</script>
</body>
<!-- Modal -->
<div class="modal fade" id="modalVisualizarChecklist" style="z-index: 4000" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Listagem de Perguntas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descrição</th>
                            <th>Eixo</th>
                            <th>Porte</th>
                            <th>Setor</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditarChecklist" tabindex="-1" aria-labelledby="exampleModalEditar" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalEditar">Editar Checklist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id" id="id" value="">
                <div class="form-group">
                    <h5 for="titulo" class="form-label">Título</h5>
                    <input type="text" class="form-control shadow p-2 mb-3 bg-white rounded mt-2" id="titulo" name="titulo" >
                </div>
                <div class="form-group">
                    <h5 for="descricao" class="form-label">Descrição</h5>
                    <input type="text" class="form-control shadow p-2 mb-3 bg-white rounded" id="descricao" name="descricao" style="font-size: 16px; width: 100%;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <a th:onclick="'salvarEdicao()'" class="btn btn-primary">Salvar</a>
            </div>
        </div>
    </div>
</div>
</html>

